@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
body {
 font-family: 'Open Sans', sans-serif !important;
}

.hero-section {
 background-color: #DBCEF0;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f3ebff' fill-opacity='0.3'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.rotateQuote {
 transform: rotate(180deg);
}
.headerAttached{
    display: none !important;
}

.animate__fadeInDown ,.sticky{
 z-index: 40;
 position: fixed;
 display: block;
 right: 0px;
 left: 0px;
}
